# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
.venv/
venv/
env/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Docker
*.log

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
